*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  scroll-behavior: smooth;
  height: 200vh;
  background-color: #666;
}

.header {
  width: 100%;
  height: 10vh;
  display: grid;
  grid-template-columns: 2fr 5fr 2fr;
  grid-template-rows: 9fr;
  background-color: #333;
  color: #fff;
}
.header__logo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  align-self: center;
  justify-self: center;
}
.header__heading {
  align-self: center;
  justify-self: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: normal;
  font-size: 1.8rem;
}

.menu {
  visibility: hidden;
}

.hamburger {
  width: 30px;
  height: 40px;
  position: absolute;
  right: 5px;
  top: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background: none;
  border: none;
}
.hamburger__item {
  width: 30px;
  height: 2px;
  border-radius: 2px;
  background-color: #fff;
}

@media (min-width: 412px) {
  .header__logo {
    width: 60px;
    height: 60px;
  }
  .header__heading {
    font-size: 2.2rem;
  }
}
@media (min-width: 768px) {
  .header__logo {
    width: 80px;
    height: 80px;
  }
  .header__heading {
    font-size: 2.5rem;
  }
}
@media (min-width: 992px) {
  .header__logo {
    width: 100px;
    height: 100px;
  }
  .header__heading {
    font-size: 3rem;
  }
}
@media (min-width: 1200px) {
  .header__logo {
    width: 120px;
    height: 120px;
  }
  .header__heading {
    font-size: 3.5rem;
  }
}
@media (min-width: 1400px) {
  .header__logo {
    width: 140px;
    height: 140px;
  }
  .header__heading {
    font-size: 4rem;
  }
}
.form {
  display: table;
  color: #fff;
  font-size: 1.5rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.form__fieldset {
  padding: 5px;
}
.form__field {
  width: 50%;
  display: table-row;
  margin-top: 20px;
}

label,
input {
  display: table-cell;
}

input {
  width: 95%;
  padding: 3px;
}

.content {
  margin-top: 10px;
}

.wrapper {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}
.wrapper__card {
  width: 100px;
  aspect-ratio: 1/1.5;
  border: 1px solid black;
  border-radius: 10px;
}
.wrapper__card:nth-of-type(2) {
  margin: 0 5px;
}

.rotate {
  animation: rotate 1s linear;
}

.rotate-one {
  animation: rotate-one 1s linear;
}

.btns {
  display: flex;
  justify-content: center;
}
.btns__btn {
  margin-top: 40px;
  padding: 7px 15px;
  letter-spacing: 1px;
}

@keyframes rotate {
  from {
    transform: rotateY(0);
  }
  to {
    transform: rotateY(360deg);
  }
}
@keyframes rotate-one {
  from {
    transform: rotateY(0);
  }
  to {
    transform: rotateY(360deg);
  }
}
@media (min-width: 576px) {
  .wrapper {
    justify-content: center;
  }
  .wrapper__card {
    width: 130px;
    border: 2px solid black;
  }
  .btns__btn {
    padding: 10px 25px;
    border-radius: 5px;
    letter-spacing: 2px;
    font-size: 1.6rem;
  }
}
@media (min-width: 768px) {
  .wrapper__card {
    width: 160px;
    border-radius: 20px;
  }
}
@media (min-width: 992px) {
  .wrapper__card {
    width: 200px;
  }
}
@media (min-width: 1200px) {
  .wrapper__card {
    width: 240px;
  }
  .btns__btn {
    padding: 15px 35px;
    font-size: 2rem;
    letter-spacing: 3px;
  }
}
@media (min-width: 1400px) {
  .wrapper__card {
    width: 300px;
  }
}
.footer {
  height: 15vh;
  padding: 10px;
  position: fixed;
  bottom: -10px;
  right: 0;
  left: 0;
  font-size: 1.3rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #000;
}
.footer__description {
  color: #fff;
  text-align: center;
}/*# sourceMappingURL=main.css.map */