.content {
  margin-top: 20px;
}

.wrapper {
  margin-top: 20px;
  display: flex;
  justify-content: center;

  &__card {
    width: 100px;
    aspect-ratio: 1/1.5;
    border: 1px solid black;
    border-radius: 10px;

    &:nth-of-type(2) {
      margin: 0 5px;
    }
  }
}

.rotate {
  animation: rotate 1s linear;
}

.rotate-one {
  animation: rotate-one 1s linear;
}

.btns {
  display: flex;
  justify-content: center;

  &__btn {
    margin-top: 40px;
    padding: 7px 15px;
    letter-spacing: 1px;
  }
}

@keyframes rotate {
  from {
    transform: rotateY(0);
  }

  to {
    transform: rotateY(360deg);
  }
}
@keyframes rotate-one {
  from {
    transform: rotateY(0);
  }

  to {
    transform: rotateY(360deg);
  }
}

@media (min-width: 576px) {
  .wrapper {
    justify-content: center;
    &__card {
      width: 130px;
      border: 2px solid black;
    }
  }

  .btns {
    &__btn {
      padding: 10px 25px;
      border-radius: 5px;
      letter-spacing: 2px;
      font-size: 1.6rem;
    }
  }
}
@media (min-width: 768px) {
  .wrapper {
    &__card {
      width: 160px;
      border-radius: 20px;
    }
  }
}

@media (min-width: 992px) {
  .wrapper {
    &__card {
      width: 200px;
    }
  }
}
@media (min-width: 1200px) {
  .wrapper {
    &__card {
      width: 240px;
    }
  }

  .btns {
    &__btn {
      padding: 15px 35px;
      font-size: 2rem;
      letter-spacing: 3px;
    }
  }
}
@media (min-width: 1400px) {
  .wrapper {
    &__card {
      width: 300px;
    }
  }
}
