.form {
  display: table;
  margin: 0 auto;
  color: #fff;
  font-size: 1.5rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  &__fieldset {
    padding: 5px;
  }

  &__field {
    width: 50%;
    display: table-row;
    margin-top: 20px;
  }
}

label,
input {
  display: table-cell;
  text-align: center;
}

input {
  width: 95%;
  padding: 3px;
}
