
.login-signup {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  &--hidden {
    display: none;
  }

  &__heading {
    text-align: center;
    font-size: 2.5rem;
  }
}

.rules {
  font-size: 1.4rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

  &--hidden {
    display: none;
  }

  &__heading {
    text-align: center;
  }

  &__description {
    max-width: 320px;
    margin: 0 auto 50px;
    padding: 20px;
  }

}

