.form {
  width: 95%;
  margin: 0 auto;
  color: #fff;
  font-size: 1.6rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

  &__fieldset {
    padding: 10px;
  }

  &__field {
    display: flex;
    margin: 5px;
  }

  &__label {
    width: 50%;
  }

  &__input {
    width: 50%;
    font-weight: bold;
  }

  &__button {
    margin: 20px;
    padding: 5px 20px;
    border: none;
    border-radius: 15px;
    font-size: 1.8rem;
    letter-spacing: 1px;
  }
}

@media (min-width: 576px) {
  .form {
    width: 60%;
    font-size: 1.8rem;
  }
}

@media (min-width: 992px) {
  .form {
    width: 50%;
    font-size: 2.2rem;
  }
}


@media (min-width: 1400px) {
  .form {
    width: 40%;
    font-size: 2.4rem;
  }
}
